header{
	width: 100%;
}
.tools{
	width: 100%;
	height: 34px;
	background-color: #f9f9f9;
	color: #666;
	font-weight: 300;
}
.tools_header{
	width: 1200px;
	height: 34px;
	margin: 0 auto;
}
.tools_header_district{
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	position: relative;
	padding: 0 10px;
	cursor: pointer;
	float: left;
	border: 1px solid #f9f9f9;
}
.tools_header_district:hover{
	background-color: white;
	border: 1px solid #ddd;
}
.tools_header_district span.songz{
	float: left;
}
.tools_header_district p{
	float: left;
	padding: 0 8px;
}
.tools_header_district p:hover{
	color: #ff3737;
}
.tools_header_district .icon-xiangxia{
	float: right;
	width: 30px;
	height: 30px;
	transform:rotate(0deg);
	transition: all 1.2s;
}
.tools_header_district:hover .icon-xiangxia{
	transform:rotate(180deg);
	cursor: pointer;
}

.tools_header_district ul{
	width: 322px;
	display: none;
	position: absolute;
	top: 30px;
	left: -1px;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: white;
	z-index: 1;
}
.tools_header_district:hover ul{
	display: block;
}
.tools_header_district ul li{
	width: 60px;
	height: 26px;
	float: left;
	line-height: 26px;
}
.tools_header_district ul li:hover{
	color: red;
}
.tools_header_district_white{
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: -1px;
	left: 0;
	background-color: #f9f9f9;
}
.tools_header_district:hover .tools_header_district_white{
	background-color: white;
}



.tools_header_nav{
	float: right;
}
.tools_header_nav>div{
	float: left;
	padding: 0 8px;
	height: 12px;
	margin:11px 0;
	border-right: 1px solid #999;
	line-height: 11px;
	text-align: center;
	cursor: pointer;
	position: relative;
}
.tools_header_nav>div:hover{
	color: #ff3737;
}
.tools_header_nav>div:hover span{
	color: #666;
}
.tools_header_nav>div.tools_header_nav_clear{
	border-right: 0;
}
.tools_header_nav>div .icon-xiangxia{
	float: right;
	width: 12px;
	height: 12px;
	transform:rotate(0deg);
	transition: all 1.2s;
	margin: 0 4px;
}
.tools_header_nav>div:hover .icon-xiangxia{
	transform:rotate(180deg);
	cursor: pointer;
}

.tools_header_nav>div ul{
	box-sizing: border-box;
	width: 100%;
	position: absolute;
	top: 12px;
	left: 0;
	background-color: white;
	padding: 4px 0;
	text-align: left;
	display: none;
	border: 1px solid #ddd;
	border-top: 1px solid #f9f9f9;
	z-index: 1;
}
.tools_header_nav>div:hover ul{
	display: block;
}
.tools_header_nav>div ul li{
	padding: 6px 8px;
	color: #999;
}
.tools_header_nav>div ul li:hover{
	background-color: #ddd;
}

.tools_user{
	height: 30px;
	float: right;
	margin-right: 10px;
	line-height: 34px;
}
.tools_user a{
	color: #ff3737;
	cursor: pointer;
}

.tools_user_show{
	height: 30px;
	float: right;
	margin-right: 10px;
	line-height: 34px;
}
.tools_user_show span{
	margin: 0 4px;
	color: #ff3737;
}
.tools_user_show #tools_user_zx{
	cursor: pointer;
}

.global_search{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	font-weight: 300;
	position: relative;
}
.global_search .DDlogo{
	width: 342px;
	height: 77px;
	float: left;
	margin-right: 18px;
}
.global_search_body{
	width: 570px;
	height: 40px;
	border: 2px solid #ff3737;
	float: left;
	margin-top: 20px;
	position: relative;
	color: #333;
}
#globalSearch{
	width: 400px;
	height: 40px;
	margin-left: 10px;
	outline: none;
	border: none;
	float: left;
}
#globalSearchUl{
	width: 410px;
	position: absolute;
	top: 42px;
	left: 0;
	padding: 5px 0;
	border: 1px solid #ddd;
	cursor: pointer;
	z-index: 1;
	background-color: white;
}
#globalSearchUl li{
	height: 24px;
	line-height: 24px;
	text-indent: 10px;
}
#globalSearchUl li:hover{
	color: #ff3737;
	background-color: #eee;
}

.global_search_body_select{
	width: 110px;
	height: 40px;
	font-size: 16px;
	float: left;
	background-color: #eee;
	text-align: center;
	color: #999;
	line-height: 40px;
	position: relative;
	font-weight: 500;
	cursor: pointer;
}
.global_search_body_select .icon-xiangxia{
	float: right;
	width: 40px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	transform:rotate(0deg);
	transition: all 1.2s;
}
.global_search_body_select:hover .icon-xiangxia{
	transform:rotate(180deg);
	cursor: pointer;
}
.global_search_body_select ul{
	width: 100%;
	height: 260px;
	position: absolute;
	top: 42px;
	left: 0;
	background-color: white;
	border: 1px solid #888;
	box-sizing: border-box;
	padding: 5px 0;
	display: none;
	overflow-y: auto;
	z-index: 1;
}
.global_search_body_select:hover ul{
	display: block;
}
.global_search_body_select ul li{
	font-size: 14px;
	text-align: left;
	text-indent: 10px;
	height: 24px;
	line-height: 24px;
	color: #555;
}
.global_search_body_select ul li:hover{
	background-color: #bbb;
	color: white;
}

.global_search_body_button{
	width: 50px;
	height: 40px;
	background-color: #ff3737;
	float: right;
	text-align: center;
}
.global_search_body_button .icon-sousuo{
	font-size: 34px;
	line-height: 40px;
	color: white;
}

.global_key{
	width: 570px;
	height: 20px;
	position: absolute;
	top: 74px;
	left: 360px;
	line-height: 20px;
}
.global_key span{
	float: left;
	padding: 0 10px;
}
.global_key ul{
	float: left;
}
.global_key ul li{
	float: left;
	padding: 0 4px;
}
.global_key ul li:hover{
	color: #ff3737;
	cursor: pointer;
}
.global_key .global_key_right{
	float: right;
	padding: 0 10px;
	cursor: pointer;
}
.global_key .global_key_right:hover{
	color: #FF3737;
}

.global_shop{
	width: 200px;
	float: right;
	margin-top: 20px;
	cursor: pointer;
}
.global_shop_car{
	width: 110px;
	height: 40px;
	background-color: #FF3737;
	font-size: 14px;
	color: white;
	line-height: 40px;
	text-indent: 14px;
	float: left;
}
.global_shop_order{
	width: 90px;
	height: 40px;
	float: left;
	background-color: #eee;
	box-sizing: border-box;
	border: 1px solid #ccc;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	color: #666;
}
.global_footer_title{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}
.global_footer_title_shortBotton{
	width: 200px;
	height: 40px;
	background-color: #FF3737;
	color: white;
	line-height: 40px;
	text-align: center;
	font-weight: 600;
	float: left;
	cursor: pointer;
}
.global_footer_title_shortBotton span{
	padding: 0 20px;
}
.global_footer_title_ul{
	float: left;
	margin-left: 20px;
}
.global_footer_title_ul li{
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: 600;
	color: #000000;
	padding: 0 18px;
	cursor: pointer;
}
.global_footer_title_ul li:hover{
	color: #FF3737;
}
.global_footer_details_out{
	width: 100%;
	height: 30px;
	background-color: #eee;
	border-top: 4px solid #FF3737;
}
.global_footer_details{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
.global_footer_details li{
	margin: 9px 0;
	height: 12px;
	padding: 0 12px;
	float: left;
	border-right: 1px solid #aaa;
	font-size: 12px;
	line-height: 12px;
	font-weight: 300;
}
li.global_footer_details_right{
	border: none;
}
.global_footer_details li:hover{
	color: #FF3737;
	cursor: pointer;
}

article{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
#article_showImg{
	width: 1200px;
	height: 65px;
	margin: 10px 0;
}
.article_field{
	width: 1200px;
	/* background-color: #4a9fee; */
	overflow: hidden;
	margin-bottom: 10px;
}


.book_online{
	width: 1200px;
	/* height: 580px; */
	/* background-color: #41FF41; */
	margin-left: 10px;
	overflow: hidden;
}
.book_online .book_online_new{
	width: 750px;
	height: 43px;
}
.book_online .book_onlineWrap{
	width: 1200px;
	/* height: 537px; */
}
.book_online .book_onlineWrap li{
	width: 150px;
	height: 250px;
	float: left;
	/* border: 1px solid #00FFFF; */
	position: relative;
	margin: 8px 24px;
	cursor: pointer;
}
.book_online .book_onlineWrap li .name{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 7px 20px 0;
	font-size: 14px;
}
.book_online .book_onlineWrap li .author{
	padding: 10px 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #bbb;
}
.book_online .book_onlineWrap li .price{
	text-indent: 10px;
}
.book_online .book_onlineWrap li .price_rob{
	color: #FF3737;
}
.book_online .book_onlineWrap li .price_right{
	color: #ccc;
	margin-left: 24px;
	text-decoration: line-through;
}
.book_online .book_onlineWrap li .eprice{
	color: #aaa;
	text-indent: 16px;
}



.book_3ad{
	width: 1200px;
	height: 160px;
	background-color: #7979bb;
	margin: 10px 0;
}
.book_3ad img{
	width: 380px;
	height: 140px;
	margin: 10px;
	float: left;
}


footer{
	width: 100%;
}
.footer_tools{
	width: 100%;
	height: 80px;
	border-top: 2px solid #FF3737;
	background-color: #fafafa;
	border-bottom: 1px solid #aaa;
}
.footer_tools_bg{
	width: 720px;
	height: 80px;
	margin: 0 auto;
}
.footer_tools_bg>div{
	width: 140px;
	height: 52px;
	margin: 0 50px;
	margin-top: 15px;
	float: left;
}
.footer_tools_bg .footer_tools_bg_1{
	background: url(../img/footer_bg.png) 0 0 no-repeat;
}
.footer_tools_bg .footer_tools_bg_2{
	background: url(../img/footer_bg.png) 0 -104px no-repeat;
}
.footer_tools_bg .footer_tools_bg_3{
	background: url(../img/footer_bg.png) 0 -156px no-repeat;
}

.footer_list{
	width: 900px;
	padding: 40px 0;
	margin: 0 auto;
	overflow: auto;
}
.footer_list ul{
	float: left;
	color: #888;
	padding: 0 36px;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
}
.footer_list ul li.footer_list_firstLi{
	font-weight: 500;
	color: #555;
	font-size: 16px;
	line-height: 34px;
}
.footer_list ul li:hover{
	color: #FF3737;
	cursor: pointer;
}
.footer_list ul li.footer_list_firstLi:hover{
	color: #555;
	cursor: default;
}
.foooter_cut_off{
	width: 100%;
	border-top: 1px solid #aaa;
}
.foooter_about{
	width: 800px;
	margin: 0 auto;
	height: 100px;
	text-align: center;
}
.foooter_about li{
	font-size: 12px;
	line-height: 12px;
	width: 100px;
	float: left;
	box-sizing: border-box;
	border-right: 1px solid #999;
	color: #999;
	margin-top: 20px;
}
.foooter_about li.foooter_about_clear{
	border-right: none;
}
.foooter_about li:hover{
	cursor: pointer;
	color: #ff3737;
}
.foooter_copy{
	height: 100px;
	text-align: center;
	color: #999;
	letter-spacing: 1px;
}
.foooter_copy .foooter_copy_sep{
	padding: 0 20px;
}
.foooter_copy img{
	display: inline-block;
	padding: 0 20px;
	width: 40px;
}
.foooter_copy .foooter_copy_hov:hover{
	color: #FF3737;
	cursor: pointer;
}